# Ignorar entorno virtual
env
venv

# Ignorar archivos de caché y configuraciones de Django
__pycache__/
*.pyc
*.pyo
db.sqlite3  # Si usas SQLite, para no subir la base de datos local
venv/

echo "*.pyc" >> .gitignore
echo "db.sqlite3" >> .gitignore